@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}


<div class="text-center">
    <div class="text-danger display-4">@ViewData["Title"]</div>
    <img src="~/images/accessdenied-3000px.png" height="300" alt="access denied image">
    <p class="text-danger"><em>You do not have access to this resource. If you think this is a mistake then ask your supervisor to give access.</em></p>
</div>