@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<div class="display-4">@ViewData["Title"]</div>
<partial name="_StatusMessage" model="Model.StatusMessage" />