@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="display-4">@ViewData["Title"]</div>
<br />
<p>
    Please check your email to reset your password.
</p>

