@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}


<div class="text-center">
    <div class="text-danger display-4">@ViewData["Title"]</div>
    <img src="~/images/lockout-3000px.png" height="300" alt="lockout image">
    <p class="text-danger"><em>This account has been locked out, please try again later or ask your supervisor to re-enable it.</em></p>
</div>